{% extends "base.twig" %}

{% block title %}Main page{% endblock %}
{% block body %}
<div class="container">
    <div class="btn-group-vertical" role="group" aria-label="...">
        <a href="/tasks" class="btn btn-warning">Выборка всех заданий студента.</a>
        <a href="/students" class="btn btn-warning">Выборка для проверяющего количества студентов для 1го задания с учётом привязки групп со студентами.</a>
        <a href="/task/info" class="btn btn-warning">Выборка для задания списка групп и студентов.</a>
        <a href="/workloads" class="btn btn-warning">Расчёт нагрузки проверяющих: какое количество заданий необходимо проверить, в том числе совместные. Представить в убывающем порядке.</a>
        <a href="/task/critical" class="btn btn-warning">Расчёт статистики "критически нагруженных" заданий: сколько студентов выполняет задание "делимое на" количество проверяющих это задание. Представить в убывающем порядке.</a>
        <a href="/classes" class="btn btn-warning">Вывод списка студентов для конкретного занятия.</a>
    </div>
</div>
{% endblock %}