{% extends "base.twig" %}

{% block title %}Students for Classes{% endblock %}
{% block body %}
<div class="container" id="app">
    <input type="text" v-model="id" value="1" v-on:change="getStudentsByClasses()" placeholder="Введите ID занятия">
    <table class="table">
    <thead>
        <tr v-for='student in students.slice(0,1)'>
            <th v-for='(value,key) in student' scope="col">${ key }</th>
        </tr>
    </thead>
    <tbody>
        <tr v-for='student in students' scope="col">
            <td v-for='values in student'>${ values } </td>
        </tr>
    </tbody>
    </table>
</div>
{% endblock %}