{% extends "base.twig" %}

{% block title %}Task for Student{% endblock %}
{% block body %}
<div class="container" id="app">
    <input type="text" v-model="id" value="1" v-on:change="getTasksByStudent()" placeholder="Введите ID студента">
    <table class="table">
    <thead>
        <tr v-for='task in tasks.slice(0,1)'>
            <th v-for='(value,key) in task' scope="col">${ key }</th>
        </tr>
    </thead>
    <tbody>
        <tr v-for='task in tasks' scope="col">
            <td v-for='values in task'>${ values } </td>
        </tr>
    </tbody>
    </table>
</div>
{% endblock %}